@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body{
    margin: 0;
    padding: 0px 180px;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
}



:root{
    --primary-color: #F48E28;
}

/* header section starts here*/
/* navbar section */
.navbar-container{
    display: flex;
    align-items: center;
    
}

.nav-section{
    display: flex;
    justify-content: space-between;
    width: 100%;
    
}

.nav-left-side{
    display: flex;
    width: 80%;

    
}

.nav-items{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 300px;
    font-size: 1.2rem;
    color: #000000;
    
}

.nav-items > ul {
    display: flex;
    list-style: none;
    
}

.nav-items > ul > li > a{
    text-decoration: none;
    padding: 35px;
    color: #000000;
}


.nav-right-side{
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

/* navbar section */

/* hero section */
.hero-section{
    margin-top: 30px;
    width: 100%;
    height: 100vh;
    display: flex;

}


.banner-left-text-side{
    width: 50%;
   
}


.banner-right-card-side{
    width: 50%;
}


/* bike button start */
.bike-delivery-section{
    display: flex;
    width: 300px;
    height: 70px;
    border-radius: 90px;
    background-color: red;
    background-color: #F5DDC4;
}

.bike-delivery-btn{
    display: flex;
    align-items: center;
    width: 250px;
    
    
}


.bike-delivery-btn > p{
    padding-left: 30px;
    color: var(--primary-color);
    
   
}

.bike-delivery-img{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 150px;
    padding-right: 5px;

}

.bike-delivery-img > img{
    border: 4px solid #F6F6F6;
    display: flex;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;   
}

/* bike button end */


/* banner left side start */
.banner-headline > h1{
    font-size: 100px;
}

.orange-color{
    color: var(--primary-color);
}

.banner-paragraph{
    font-size: 20px;
    font-weight: 500;
}

.banner-order-button{
    display: flex;
    align-items: center;
    padding-top: 40px;
    

}

.order-now-btn > button{
    padding: 25px 50px;
    font-size: 25px;
    margin-right: 30px;
    background-color: var(--primary-color);
    border: 0px;
    border-radius: 15px;
    color: #FFFFFF;
    font-weight: 600;

}

.order-process-btn{
    display: flex;
    justify-content: center;
    align-items: center;
}

.order-process-btn-p > p{
    font-size: 25px;
    color: #000000;
    font-weight: 700;
}
/* banner left side end */


/* banner right side (img) start */
.banner-right-card-side{
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    padding-left: 120px;
}

.right-card-rowOne > img{
    width: 320px;
    height: 420px;
    
}
/* banner right side (img) end */
/* header section ends here */



/* main section starts here */
/* location area start */
.location-area-container{
    
    width: 100%;
    margin-top: 150px;
    border-radius: 70px;
    box-shadow: 10px 3px 15px 15px rgb(249, 249, 249);
    margin-bottom: 100px;
}

.location-area{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
   
}

.location-area-one{
    width: 30%;
    text-align: center;
    padding: 10px 50px; 
    border-right: 1px solid #B6B6B6;    
    
}


.location-area-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 50px;
    height: 50px;
    background-color: var(--primary-color);
    border-radius: 30px;
    font-size: 25px;
    color: #FFFFFF;

}

#location-headline{
    font-size: 18px;
}

.location-paragraph{
    font-weight: 400;
    font-size: 13px;   
}

.location-area-two{
    width: 30%;
    text-align: center;
    padding: 10px 50px;     
    border-right: 1px solid #B6B6B6;
}

.location-area-three{
    width: 30%;
    text-align: center;
    padding: 80px 50px;    
}

/* location area end */




/* most popular item starts here */


.popular-items-section{
    width:100%;
    height: auto;
    
}

.popular-item-header{
    text-align: center;
}


.card-all-items {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between; 
    align-items: stretch; 
    
    
}




.first-row{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.item-one{
    width: 30%;
    border-radius: 30px;
    padding-bottom: 50px;
    margin: 25px 25px;
    box-shadow: 0 22px 40px 0 rgba(0, 0, 0, 0.1);

   

    
}

.item-one-img > img{
    width: 100%;
    min-height: 300px;
    display: flex;
    align-items: center;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.item-bottom-section{
    width: 100%;
    display: flex;
 
   
}
.popular-item-left-side{
    width: 80%;
    padding-left: 40px;
    
}

.popular-item-left-side-title > h3{
    font-size: 26px;
}


.popular-item-left-side-title > button{
    width: 135px;
    height: 44px;
    background-color: var(--primary-color);
    color: #FFFFFF;
    border: 0px;
    border-radius: 30px;
    font-size: 14px;
    font-weight: 400;
}



.popular-item-icon-side{
    width: 20%;
    display: flex;
    flex-direction: column;
    padding-top: 13px;
    padding-right: 40px;
}

.star-icon{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 13px;
    
}

.star-icon > i {
    margin-right: 10px;
  
    color: var(--primary-color);
}

.star-icon p{
    font-weight: 400;
}

.price-value{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.price-value > p{
   font-size: 18px;
   font-weight: 500;
}


/* button */
#see-more-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 70px;
}

#see-more-btn > button{
    padding: 25px 50px;
    display: grid;
    place-items: center; 
    font-size: 20px;
    background-color: var(--primary-color);
    color: #FFFFFF;
    border: 0px;
    border-radius: 35px;
    margin-bottom: 100px;
    
    
}




/* services section starts here */

.servicesAllCard{
    display: flex;
    margin-top: 50px;
    padding-bottom: 100px;
    
}
.services-card{
    border: 1px solid black;
    margin: 10px;
    padding: 150px 30px;
    border-radius: 40px;
}

.services-card:hover{
    box-shadow: 30px 22px 40px 30px rgba(0, 0, 0, 0.1);
    border: none;
}

.services-paragraph{
    font-size: 18px;
    padding-top: 10px;
    font-weight: 500;
}

/* services section ends here */
 



/* testimonial section starts here */
.testimonial-card{
    width: 100%;
    display: flex;
    margin-top: 120px;
}

.testimonial-left{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 20px 22px 20px 20px rgba(0, 0, 0, 0.1);
}

.testimonial-profile{
    display: flex;
    margin-bottom: 20px;
}

.testimonial-img > img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;  
    margin-right: 30px;
    
}

.testimonial-profile-title{
    padding-top: 20px;
    text-align: center;
    line-height: 0px;
}

.testimonial-profile-title > h4{
    font-size: 22px;
}

.testimonial-profile-title > p{
    font-weight: 400;
    
}

.testimonial-card-text{
    width: 80%;
    font-size: 19px;
    font-weight: 500;
    text-align: center;
    display: flex;
    align-items: center;
    padding-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
   
}

.testimonial-card-img{
    width: 50%;
    margin-left: 20px;

}







/* testimonial section ends here */


 




/* main section ends here */